img {
    width: 30%;
    border-radius: 8px;
}

.library-song {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    &:hover {
        background-color: rgb(222, 222, 255);
    }

    .song-description {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        h3 {
            font-size: 1rem;
            color: rgb(100, 100, 100);
        }
        
        h4 {
            font-size: 0.8rem;
            color: rgb(100, 100, 100);
        }
    }
}

.selected {
    background-color: rgb(222, 222, 255);
    border-radius: 8px;
}


.loader {
	display: flex;
	align-items: center;
	justify-content: end;
    width: 20%;
    position: absolute;
    right: 1.5rem;
}

.wave {
	height: 50%;
	width: 50%;
    fill: rgb(100, 100, 100);
}

@for $i from 1 through 9 {
	#Line_#{$i} {
		animation: pulse 1s infinite;
		animation-delay: $i * .15s;
	}
}

@keyframes pulse {
	0% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
	
	50% {
		transform: scaleY(.7);
		transform-origin: 50% 50%;
	}
	
	100% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
}

@media screen and (max-width: 768px) {
    .library-song {
        margin-bottom: 1rem;
    }
}