img {
    width: 30%;
    border-radius: 8px;
}

.library-song {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.library-song:hover {
    background-color: rgb(222, 222, 255);
}

.song-description {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

h3 {
    font-size: 1rem;
    color: rgb(100, 100, 100);
}

h4 {
    font-size: 0.8rem;
    color: rgb(100, 100, 100);
}